@page
@model DZ4.Pages.FunctionsModel
@{
}
<h1>Математические функции</h1>

<p>sin(1) = @Model.SinValue</p>
<p>cos(1) = @Model.CosValue</p>
<p>7! = @Model.FactorialValue</p>

<a href="/">На главную</a>
