@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="display: flex; gap: 30px;">
    <ul>
        <li><a href="/About">Обо мне</a></li>
        <li><a href="/Functions">Математические функции</a></li>
    </ul>
    <ul>
        <li><a href="/Converter">Конвертер денег</a></li>
    </ul>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


