@page
@model DZ5.Pages.FibonacciModel
@{
}
<h2>Фибоначчи</h2>
<form method="post">
    <p>
        <label>Введите число:</label><br />
        <input type="number" name="N" />
    </p>
    <button type="submit">Посчитать</button>
</form>

@if (Request.Method == "POST")
{
    <h3>Результат:</h3>
    <p>F(@Model.N) = @Model.Result</p>
}

<a href="/">На главную</a>
