@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<ul>
    <li><a href="/Factorial">Факториал</a></li>
    <li><a href="/Fibonacci">Фибоначчи</a></li>
    <li><a href="/Sin">Синус</a></li>
    <li><a href="/Cos">Косинус</a></li>
    <li><a href="/Tan">Тангенс</a></li>
</ul>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
