@page
@model AboutModel
@{
    ViewData["Title"] = "О разработчике";
}

<h2>О разработчике</h2>

<p><b>Имя:</b> Максим</p>
<p><b>Группа:</b> ПВ-425</p>
<p><b>Проект:</b> Учебный проект ASP.NET Razor Pages</p>
<p><b>Тема:</b> Будущий сайт с играми</p>
