@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<h2>Добро пожаловать на Game Portal Maxim!</h2>

<p>Здесь вы можете играть в мини-игры прямо в браузере. Или купить игру</p>

<ul>
    <li>🎯 Лови букву</li>
    <li>🧠 Математическая игра</li>
    <li>🕹 Скоро будет больше игр...</li>
</ul>
