body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2c3e50;
    color: greenyellow;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}


nav a,
nav a:visited {
    color: #cc7722;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffae42;
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #2c3e50;
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
}
