@page
@model IndexModel
@{
    ViewData["Title"] = "Авторы";
}

<style>
    code {
        background-color: #eee;
        padding: 3px 6px;
        border-radius: 4px;
        color: #d63384; /* Добавил цвет для наглядности */
    }
</style>

<h1>DZ7 — Авторы</h1>

<p>С помощью параметра <b>?name=</b> можно получить данные об авторе.</p>

<h3>Примеры запросов:</h3>

<ul>
    <li>
        <b>Вывести текст из файла:</b><br />
        <code>https://localhost:7002/?name=Пушкин</code><br />
        <code>https://localhost:7002/?name=Шекспир</code>
    </li>
    <br />
    <li>
        <b>Скачать файл:</b><br />
        <code>https://localhost:7002/?name=Пушкин&amp;mode=file</code>
    </li>
    <br />
    <li>
        <b>Получить данные в формате JSON:</b><br />
        <p>
            ВНИМАНИЕ: JSON — это формат передачи данных.
             Программы, которые читают JSON, понимают, что символ \n означает перенос строки.
            Однако браузер отображает JSON как «сырой» текст,
            поэтому символы переноса строки отображаются как "\n", а не как реальные переводы строк.
            
            Ниже предпринята попытка улучшить читаемость JSON:
            заменяем \r\n на \n и используем форматированный вывод (WriteIndented).
            попытка убрать двойные спецсимволы переноса строки
            text = text.Replace("\r\n", "\n");
        </p><br />
        <code>https://localhost:7002/?name=Пушкин&amp;mode=json</code>
    </li>
    <br />
    <li>
        <b>Если файл не найден — происходит перенаправление в Яндекс Поиск:</b><br />
        <code>https://localhost:7002/?name=Толстой</code>
    </li>
</ul>

<hr />

<h3>Результат:</h3>
<pre>@Model.FileContent</pre>