@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<h2>Добро пожаловать в Пробную страницу Game Portal</h2>

<p>
    Пока что доступна только страница с добавлением ИГР.
</p>

<p>
    Перейдите на страницу
    <a asp-page="/AddGame">Добавить игру</a>,
    чтобы создать новую запись.
</p>


