@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Добро пожаловать в Auto Portal </h2>

<p>
    Управление автомобилями через Entity Framework + PostgreSQL
</p>

<a asp-page="/Autos/Index" class="btn-submit">
    Перейти к списку автомобилей
</a>